<footer class="nav navbar-fixed-bottom">
	<div class="container">
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://github.com/tomwesterhout">Github</a></li>
				<li><a href="https://tomwesterhout.github.io/">Portfolio</a></li	>
			</ul>
		</nav>
	</div>
</footer>